@charset "utf-8";
/* CSS Document */
*{
 margin: 0;
 padding: 0;
box-sizing: border-box;
font-family: Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif';
}

body{
	min-height: 100vh;
	background: url("background.jpg") no-repeat;
	background-size: cover;
	background-position: center;
 }

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 100px;
	background: white;
	display: flex;
	justify-content: space-between;
	align-content: center;
	z-index: 100;
}
.logo {
	font-size: 32px;
	color: white;
	text-decoration: none;
	font-weight: 700;
	color:black;
}

.navbar a{
	position: relative;
	font-size: 26px;
	color: black;
	font-weight: 500;
	text-decoration: none;
	margin-left: 40px;
}

.navbar a::before  {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: #000;
	transition: .3s;
}

.navbar a:hover::before {
	width: 100%;
}

.black{color:black;
margin-bottom: 20px;
}
.center{text-align: center;}
.margin{margin-left: 40px;}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 14px;
	font-family: 'poppins', sans-serif;
}
.containers{
	width: 80%;
	margin: 50px auto;
	
}
.contact-box{
	background: #fff;
	display: flex;
}
.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
}
.contact-right{
	flex-basis: 60%;
	padding: 40px;
	background: #1c00b5;
	color: #fff;
}
h1{
	margin-bottom: 10px;
}
.container p{
	margin-bottom: 40px;
}
.input-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.input-row .input-group{
	flex-basis: 45%;
}
input{
	width: 100%;
	border: none;
	border-bottom:1px solid #ccc;
	outline:none;
	padding-bottom: 5px;
}
textarea{
	width: 100%;
	border:1px solid #ccc;
	outline:none;
	padding: 10px;
	box-sizing: border-box;
}
label{
	margin-bottom: 6px;
	display: block;
	color: #1c00b5;
}
button{
	background: #1c00b5;
	width: 100px;
	border: none;
	outline: none;
	color: #fff;
	height: 35px;
	border-radius: 30px;
	margin-top: 20px;
	box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3{
	color: #1c00b5;
	font-weight: 600;
	margin-bottom: 30px;
}
.contact-right h3{
	font-weight: 600;
	margin-bottom: 30px;
}
tr td:first-child{
	padding-right: 20px;
}
tr td{
	padding-right: 20px;
}
tr td{
	padding-top: 20px;
}